{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign is_current = false %}
            {% if link.url == "/" %}
              {% if page.url == "/" %}{% assign is_current = true %}{% endif %}
            {% elsif page.collection and link.url contains page.collection %}
              {% assign is_current = true %}
            {% elsif page.url and page.url contains link.url %}
              {% assign is_current = true %}
            {% endif %}
            <li class="masthead__menu-item{% if is_current %} masthead__menu-item--current{% endif %}"><a href="{{ domain }}{{ link.url }}"{% if is_current %} aria-current="page"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>